about-time==3.1.1
aiocache==0.11.1
aiocqhttp==1.4.0
aiofiles==0.5.0
aiohttp==3.7.4.post0
alabaster==0.7.12
alive-progress==2.0.0
aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-kms==2.15.0
altgraph==0.17
anyio==3.2.1
argon2-cffi==20.1.0
asgiref==3.3.4
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
baidu-aip==4.15.7
baostock==0.8.8
BaseExtensions==1.2.6
beautifulsoup4==4.9.3
bleach==3.3.0
blinker==1.4
branca==0.4.2
bs4==0.0.1
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chainmap==1.0.3
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
click-default-group==1.2.2
colorama==0.4.4
combomethod==1.0.12
constantly==15.1.0
crcmod==1.7
cryptography==3.4.7
cssselect==1.1.0
cssutils==2.2.0
cutecharts==1.2.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
Django==3.2.6
django-qoptions==0.1.7
docutils==0.17.1
EasyProcess==0.3
entrypoint2==0.2.4
entrypoints==0.3
et-xmlfile==1.1.0
fake-useragent==0.1.11
fake_user_agent==0.0.11
fastapi==0.61.2
Flask==2.0.1
folium==0.12.1
future==0.18.2
gevent==21.12.0
grapheme==0.6.0
greenlet==1.1.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
html5lib==1.1
httpcore==0.13.3
httpx==0.18.1
Hypercorn==0.11.2
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imagesize==1.2.0
imbox==0.9.8
importlib-metadata==4.0.1
incremental==21.3.0
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.0.1
janus==0.5.0
jedi==0.18.0
jieba==0.42.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.9.0
jupyterlab==3.0.16
jupyterlab-language-pack-zh-CN==0.0.2.dev0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
jupyterlab-widgets==1.0.0
keyring==23.0.1
kiwisolver==1.3.1
llvmlite==0.36.0
lxml==4.6.3
markdown2==2.4.1
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
MouseInfo==0.1.3
mss==6.1.0
multidict==5.1.0
multimethod==1.4
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nonebot==1.8.2
nose==1.3.7
notebook==6.4.0
nulltype==2.3.1
numpy==1.21.1
openpyxl==3.0.7
options==1.4.10
oss2==2.15.0
packaging==20.9
pandas==1.3.2
pandas-datareader==0.10.0
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.2
patsy==0.5.2
pdfminer.six==20200517
pdfplumber==0.5.28
peewee==3.14.4
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.2.0
plotly==5.2.1
premailer==3.8.0
prettytable==2.1.0
priority==1.3.0
progressbar==2.5
prometheus-client==0.11.0
prompt-toolkit==3.0.18
Protego==0.1.16
py-sonic==0.7.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.8.2
PyDispatcher==2.0.5
pyecharts==1.9.0
pyExcelerator==0.6.4.1
PyExecJS==1.5.1
pyftpdlib==1.5.6
pygame==2.0.2
PyGetWindow==0.0.9
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.7
PyMuPDF==1.18.16
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyPdf==1.13
PyPDF2==1.26.0
pyperclip==1.8.2
pypinyin==0.41.0
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.17.3
pySankey2==2.0.1
pyscreenshot==3.0
PyScreeze==0.1.26
PySimpleGUI==4.41.2
PySnooper==0.5.0
pytesseract==0.3.7
python-dateutil==2.8.1
python-docx==0.8.10
python-multipart==0.0.5
python-osc==1.7.7
python-pptx==0.6.18
python-sonic==0.2.0
PythonDebugTools==2.2.3
pythonds==1.2.1
PyTweening==1.0.3
pytz==2021.1
PyWavelets==1.1.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==1.1.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
Quart==0.14.1
queuelib==1.6.1
redis==3.5.3
requests==2.26.0
requests-unixsocket==0.2.0
rfc3986==1.5.0
schedule==1.1.0
scikit-learn==0.24.2
scipy==1.7.0
Scrapy==2.5.0
scrapy-redis==0.7.1
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.5.0
service-identity==21.1.0
simplejson==3.17.2
six==1.12.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.1.0
snownlp==0.12.3
sonic-client==0.0.5
sortedcontainers==2.3.0
soupsieve==2.2.1
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.23
sqlparse==0.4.1
starlette==0.13.6
statsmodels==0.13.1
tangled-up-in-unicode==0.1.0
tdqm==0.0.1
tenacity==8.0.1
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.2.0
tinycss==0.4
tk-html-widgets==0.4.0
TkinterExtensions==1.9.9
toml==0.10.2
tornado==6.1
toshare==1.0.5
tqdm==4.62.0
traitlets==5.0.5
tushare==1.2.64
Twisted==21.7.0
twisted-iocpsupport==1.0.1
typing-extensions==3.10.0.0
urllib3==1.25.11
urwid==2.1.2
uuid==1.30
uvicorn==0.11.8
valuedispatch==0.0.1
w3lib==1.22.0
Wand==0.6.6
wcwidth==0.2.5
web-youtube-dl==0.1.5
webencodings==0.5.1
websocket-client==1.1.0
websockets==8.1
wechatarticles==0.6.5
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wsproto==1.0.0
xlrd==2.0.1
XlsxWriter==1.4.3
yagmail==0.14.256
yarl==1.6.3
you-get==0.4.1536
youdaoai==0.0.3
youtube-dl==2021.6.6
youtube-dl-service==0.0.2
youtube-dl2==2.0
youtube-dlc==2020.11.11.post3
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
